/cmake-build-debug/CMakeFiles/renderer.dir/build.make
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew.dir/build.make
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew_s.dir/build.make
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glewinfo.dir/build.make
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/visualinfo.dir/build.make
/cmake-build-debug/library/glfw/CMakeFiles/uninstall.dir/build.make
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/build.make
/cmake-build-debug/library/glfw/src/CMakeFiles/update_mappings.dir/build.make
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-79fe21de10759c4e799d.json
/cmake-build-debug/CMakeFiles/renderer.dir/src/Camera.cpp.obj
/cmake-build-debug/CMakeFiles/renderer.dir/src/Camera.cpp.obj.d
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/renderer.dir/cmake_clean.cmake
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew.dir/cmake_clean.cmake
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew_s.dir/cmake_clean.cmake
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glewinfo.dir/cmake_clean.cmake
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/visualinfo.dir/cmake_clean.cmake
/cmake-build-debug/library/glfw/CMakeFiles/uninstall.dir/cmake_clean.cmake
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/cmake_clean.cmake
/cmake-build-debug/library/glfw/src/CMakeFiles/update_mappings.dir/cmake_clean.cmake
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew_s.dir/cmake_clean_target.cmake
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/cmake_clean_target.cmake
/cmake-build-debug/library/glew/build/cmake/cmake_install.cmake
/cmake-build-debug/library/glfw/src/cmake_install.cmake
/cmake-build-debug/library/glfw/cmake_install.cmake
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/library/glfw/cmake_uninstall.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.exe
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.obj
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.exe
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.obj
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/library/glfw/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/library/glfw/src/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/CMakeError.log
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-7373fa46595381105d14.json
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.25.2/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/CMakeRuleHashes.txt
/cmake-build-debug/CMakeFiles/3.25.2/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-f1941293beea61f11f61.json
/cmake-build-debug/CMakeFiles/renderer.dir/compiler_depend.make
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew.dir/compiler_depend.make
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew_s.dir/compiler_depend.make
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glewinfo.dir/compiler_depend.make
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/visualinfo.dir/compiler_depend.make
/cmake-build-debug/library/glfw/CMakeFiles/uninstall.dir/compiler_depend.make
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/compiler_depend.make
/cmake-build-debug/library/glfw/src/CMakeFiles/update_mappings.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/renderer.dir/compiler_depend.ts
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew.dir/compiler_depend.ts
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew_s.dir/compiler_depend.ts
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glewinfo.dir/compiler_depend.ts
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/visualinfo.dir/compiler_depend.ts
/cmake-build-debug/library/glfw/CMakeFiles/uninstall.dir/compiler_depend.ts
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/compiler_depend.ts
/cmake-build-debug/library/glfw/src/CMakeFiles/update_mappings.dir/compiler_depend.ts
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/context.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/context.c.obj.d
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew_s.dir/depend.internal
/cmake-build-debug/CMakeFiles/renderer.dir/depend.make
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew.dir/depend.make
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew_s.dir/depend.make
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glewinfo.dir/depend.make
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/visualinfo.dir/depend.make
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/depend.make
/cmake-build-debug/CMakeFiles/renderer.dir/DependInfo.cmake
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew.dir/DependInfo.cmake
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew_s.dir/DependInfo.cmake
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glewinfo.dir/DependInfo.cmake
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/visualinfo.dir/DependInfo.cmake
/cmake-build-debug/library/glfw/CMakeFiles/uninstall.dir/DependInfo.cmake
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/DependInfo.cmake
/cmake-build-debug/library/glfw/src/CMakeFiles/update_mappings.dir/DependInfo.cmake
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/directory-library.glew.build.cmake-Debug-b20b889465732d6a9b33.json
/cmake-build-debug/.cmake/api/v1/reply/directory-library.glfw.src-Debug-fb87ac837dbd665f28d4.json
/cmake-build-debug/.cmake/api/v1/reply/directory-library.glfw-Debug-6cc2b90b5d87d967f764.json
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/egl_context.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/egl_context.c.obj.d
/cmake-build-debug/CMakeFiles/renderer.dir/embed.manifest
/cmake-build-debug/CMakeFiles/renderer.dir/flags.make
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew.dir/flags.make
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew_s.dir/flags.make
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glewinfo.dir/flags.make
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/visualinfo.dir/flags.make
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/flags.make
/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew_s.dir/__/__/src/glew.c.obj
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew_s.dir/__/__/src/glew.c.obj.d
/cmake-build-debug/library/glew/build/cmake/glew.cbp
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew_s.dir/__/glew.rc.res
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/Export/7a894a12241bfddc41ca6be6d0e647bd/glew-targets.cmake
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/Export/7a894a12241bfddc41ca6be6d0e647bd/glew-targets-debug.cmake
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew_s.dir/glew_s.pdb
/cmake-build-debug/library/glfw/GLFW.cbp
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/glfw.pdb
/cmake-build-debug/library/glfw/src/glfw3.lib
/cmake-build-debug/library/glfw/src/glfw3.pc
/cmake-build-debug/library/glfw/src/glfw3Config.cmake
/cmake-build-debug/library/glfw/src/glfw3ConfigVersion.cmake
/cmake-build-debug/library/glfw/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets.cmake
/cmake-build-debug/library/glfw/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets-debug.cmake
/cmake-build-debug/CMakeFiles/renderer.dir/library/imgui/imgui.cpp.obj
/cmake-build-debug/CMakeFiles/renderer.dir/library/imgui/imgui.cpp.obj.d
/cmake-build-debug/imgui.ini
/cmake-build-debug/CMakeFiles/renderer.dir/library/imgui/imgui_draw.cpp.obj
/cmake-build-debug/CMakeFiles/renderer.dir/library/imgui/imgui_draw.cpp.obj.d
/cmake-build-debug/CMakeFiles/renderer.dir/library/imgui/backends/imgui_impl_glfw.cpp.obj
/cmake-build-debug/CMakeFiles/renderer.dir/library/imgui/backends/imgui_impl_glfw.cpp.obj.d
/cmake-build-debug/CMakeFiles/renderer.dir/library/imgui/backends/imgui_impl_opengl3.cpp.obj
/cmake-build-debug/CMakeFiles/renderer.dir/library/imgui/backends/imgui_impl_opengl3.cpp.obj.d
/cmake-build-debug/CMakeFiles/renderer.dir/library/imgui/imgui_tables.cpp.obj
/cmake-build-debug/CMakeFiles/renderer.dir/library/imgui/imgui_tables.cpp.obj.d
/cmake-build-debug/CMakeFiles/renderer.dir/library/imgui/imgui_widgets.cpp.obj
/cmake-build-debug/CMakeFiles/renderer.dir/library/imgui/imgui_widgets.cpp.obj.d
/cmake-build-debug/.cmake/api/v1/reply/index-2023-04-27T23-51-36-0527.json
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/init.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/init.c.obj.d
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/input.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/input.c.obj.d
/cmake-build-debug/CMakeFiles/renderer.dir/src/InputManager.cpp.obj
/cmake-build-debug/CMakeFiles/renderer.dir/src/InputManager.cpp.obj.d
/cmake-build-debug/CMakeFiles/renderer.dir/intermediate.manifest
/cmake-build-debug/lib/libglew32d.lib
/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
/cmake-build-debug/CMakeFiles/renderer.dir/src/main.cpp.obj
/cmake-build-debug/CMakeFiles/renderer.dir/src/main.cpp.obj.d
/cmake-build-debug/CMakeFiles/ShowIncludes/main.obj
/cmake-build-debug/library/glew/build/cmake/Makefile
/cmake-build-debug/library/glfw/src/Makefile
/cmake-build-debug/library/glfw/Makefile
/cmake-build-debug/Makefile
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/renderer.dir/manifest.rc
/cmake-build-debug/CMakeFiles/renderer.dir/manifest.res
/cmake-build-debug/CMakeFiles/renderer.dir/src/Mesh.cpp.obj
/cmake-build-debug/CMakeFiles/renderer.dir/src/Mesh.cpp.obj.d
/cmake-build-debug/CMakeFiles/renderer.dir/src/Model.cpp.obj
/cmake-build-debug/CMakeFiles/renderer.dir/src/Model.cpp.obj.d
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/monitor.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/monitor.c.obj.d
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/null_init.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/null_init.c.obj.d
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/null_joystick.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/null_joystick.c.obj.d
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/null_monitor.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/null_monitor.c.obj.d
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/null_window.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/null_window.c.obj.d
/cmake-build-debug/CMakeFiles/renderer.dir/objects1
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew.dir/objects1
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew_s.dir/objects1
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glewinfo.dir/objects1
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/visualinfo.dir/objects1
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/objects1
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/osmesa_context.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/osmesa_context.c.obj.d
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/platform.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/platform.c.obj.d
/cmake-build-debug/CMakeFiles/renderer.dir/progress.make
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew.dir/progress.make
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew_s.dir/progress.make
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glewinfo.dir/progress.make
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/visualinfo.dir/progress.make
/cmake-build-debug/library/glfw/CMakeFiles/uninstall.dir/progress.make
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/progress.make
/cmake-build-debug/library/glfw/src/CMakeFiles/update_mappings.dir/progress.make
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/progress.marks
/cmake-build-debug/library/glfw/CMakeFiles/progress.marks
/cmake-build-debug/library/glfw/src/CMakeFiles/progress.marks
/cmake-build-debug/library/glew/build/cmake/CMakeFiles/glew_s.dir/RC.includecache
/cmake-build-debug/Renderer.cbp
/cmake-build-debug/CMakeFiles/renderer.dir/src/Renderer.cpp.obj
/cmake-build-debug/CMakeFiles/renderer.dir/src/Renderer.cpp.obj.d
/cmake-build-debug/renderer.exe
/cmake-build-debug/renderer.ilk
/cmake-build-debug/renderer.pdb
/cmake-build-debug/CMakeFiles/renderer.dir/src/Shader.cpp.obj
/cmake-build-debug/CMakeFiles/renderer.dir/src/Shader.cpp.obj.d
/cmake-build-debug/CMakeFiles/renderer.dir/src/std_image.cpp.obj
/cmake-build-debug/CMakeFiles/renderer.dir/src/std_image.cpp.obj.d
/cmake-build-debug/.cmake/api/v1/reply/target-glew-Debug-2b338894d160670ccacb.json
/cmake-build-debug/.cmake/api/v1/reply/target-glew_s-Debug-d122599bce3754444656.json
/cmake-build-debug/.cmake/api/v1/reply/target-glewinfo-Debug-92000b3f6ca3534f0910.json
/cmake-build-debug/.cmake/api/v1/reply/target-glfw-Debug-9714e98c49690b5b00eb.json
/cmake-build-debug/.cmake/api/v1/reply/target-renderer-Debug-698bb4616cb5d5d32a50.json
/cmake-build-debug/.cmake/api/v1/reply/target-uninstall-Debug-3ba271810dd03f714c49.json
/cmake-build-debug/.cmake/api/v1/reply/target-update_mappings-Debug-a987029d089538ef62b7.json
/cmake-build-debug/.cmake/api/v1/reply/target-visualinfo-Debug-41de79fdf59aef784c97.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/CMakeFiles/renderer.dir/src/Texture.cpp.obj
/cmake-build-debug/CMakeFiles/renderer.dir/src/Texture.cpp.obj.d
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-2e093f84d01c217ce97a.json
/cmake-build-debug/CMakeFiles/renderer.dir/src/Vao.cpp.obj
/cmake-build-debug/CMakeFiles/renderer.dir/src/Vao.cpp.obj.d
/cmake-build-debug/CMakeFiles/renderer.dir/src/Vbo.cpp.obj
/cmake-build-debug/CMakeFiles/renderer.dir/src/Vbo.cpp.obj.d
/cmake-build-debug/CMakeFiles/renderer.dir/vc140.pdb
/cmake-build-debug/CMakeFiles/renderer.dir/src/Vib.cpp.obj
/cmake-build-debug/CMakeFiles/renderer.dir/src/Vib.cpp.obj.d
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/vulkan.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/vulkan.c.obj.d
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/wgl_context.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/wgl_context.c.obj.d
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/win32_init.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/win32_init.c.obj.d
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/win32_joystick.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/win32_joystick.c.obj.d
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/win32_module.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/win32_module.c.obj.d
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/win32_monitor.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/win32_monitor.c.obj.d
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/win32_thread.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/win32_thread.c.obj.d
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/win32_time.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/win32_time.c.obj.d
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/win32_window.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/win32_window.c.obj.d
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/window.c.obj
/cmake-build-debug/library/glfw/src/CMakeFiles/glfw.dir/window.c.obj.d
/cmake-build-debug/CMakeFiles/renderer.dir/src/Window.cpp.obj
/cmake-build-debug/CMakeFiles/renderer.dir/src/Window.cpp.obj.d
/.idea/
/cmake-build-debug/