[submodule "library/glfw"]
	path = library/glfw
	url = https://github.com/glfw/glfw.git
[submodule "library/glm"]
	path = library/glm
	url = https://github.com/g-truc/glm.git
[submodule "library/imgui"]
	path = library/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "library/stb"]
	path = library/stb
	url = https://github.com/nothings/stb.git
[submodule "library/fmt"]
	path = library/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "library/assimp"]
	path = library/assimp
	url = https://github.com/assimp/assimp.git
[submodule "library/spdlog"]
	path = library/spdlog
	url = https://github.com/gabime/spdlog.git
